<% content_for :title, "About" %>
<h1>About VenomKB</h1>
<p>
Venoms and their components have been used for therapeutic purposes for millenia, treating illnesses as varied as chronic pain, psychiatric disorders, Parkinson's disease, and even sudden deafness (among many others).
</p>
<p>
<strong>VenomKB</strong> is a new knowledge base designed to be a repository for putative venom therapies and discoveries about venom that may lead to an understanding of their molecular function. The knowledge base consists of multiple database tables designed for addressing different stages and aspects of the emerging field of "venom therapeutics". The data are available in tabular form or as SQL database dumps that can be downloaded for batch processing and local analysis.
</p>
<p>
VenomKB is a work-in-progress - expect new records to be added frequently as they are identified. If you have suggestions for additions to the knowledge base, we welcome you to reach out to us.
</p>

<div class="alert alert-info" role="alert">
	<p>
	  To cite VenomKB, please refer to the following article in <i>Scientific Data</i>:
	</p>
        <p>"Romano JD, Tatonetti NP; VenomKB - A new knowledge base for facilitating the validation of putative venom therapies <i>Scientific Data</i> <b>2</b>(65) 2015."</p>
</div>
