<% provide(:title, 'Data') %>
<h1>Data</h1>

<div class="jumbotron">

  <p>
    VenomKB currently contains 3 database tables:
    <ul class="left">
      <li>
        Curated Venoms: Manually-curated putative venom therapies, with relevant PubMed IDs
      </li>
      <li>
        JDRAutoparse Venoms: Records returned by the JDRAutoparse script, which uses the NCBO Annotator to extract possible venom compounds and their physiologic effects from MEDLINE abstracts
      </li>
      <li>
        SMDB_Search Venoms: Possible venoms identified in MEDLINE using the SMDB_Search utility to extract semantic knowledge from Semantic MEDLINE
      </li>
    </ul>
  </p>
  
  <p>
    Click on the following button to go to the database tables:
  </p>

  <%= link_to "Go To Database", db_path, class: "center btn btn-lg btn-primary" %>
</div>
