<% provide(:title, 'Data') %>
<h1>Data</h1>

<div class="center jumbotron">
  <p>
    Click on the following button to go to the database tables:
  </p>

  <%= link_to "Go To Database", admin_path, class: "btn btn-lg btn-primary" %>
</div>