<footer class="footer">
  <small>
    By <a href="http://www.columbia.edu/~jdr2160/">Joe Romano</a>
    in the <a href="http://tatonettilab.org/">Tatonetti Lab</a> at
    <a href="http://www.cumc.columbia.edu/">Columbia University Medical Center</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
